################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PersonalLeetCode/v16/Browse.VC.opendb
/.vs/PersonalLeetCode/FileContentIndex
/.vs/*
.vs/